{{ define "main" }}


<section class="section-sm">
  <div class="container pl-4 pr-4">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h3 class="text-center">{{ .Title | markdownify }}</h3>
        <div class="mb-3 text-center"><span>By {{ .Site.Params.Author }}</span>
          <span class="border-bottom border-primary px-2 mx-1"></span>
          <span>{{ .PublishDate.Format "2006/01/02" }}</span>
          <span class="border-bottom border-primary px-2 mx-1"></span>
          {{ range .Params.Categories }}
            <a href="{{ "categories/" | relLangURL }}{{ . | urlize | lower }}">
              <span class="text-primary">{{ . | humanize | title }}</span>
            </a>
          {{ end }}
        </div>
        <div class="mt-1" style="border-top: 3px solid #dee2e6; height: 1rem;"></div>

        <div class="content mb-4">
          {{ .Content }}
        </div>
        <div class="mt-1" style="border-top: 3px solid #dee2e6; height: 1rem;"></div>

        <!-- comments -->
        <script src="https://utteranc.es/client.js"
                label="comment"
                repo="{{ .Site.Params.utteranc.repo }}"
                issue-term="{{ .Site.Params.utteranc.issueTerm }}"
                theme="{{ .Site.Params.utteranc.theme }}"
                crossorigin="anonymous"
                async>
        </script>
      </div>
    </div>
  </div>
</section>

{{ end }}