{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" alt="" class="img-fluid d-block mx-auto rounded-circle mb-4">
        {{ end }}
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
        <h4 class="widget-title">Experience</h4>
        <ul class="timeline">
          <!-- Item 1 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="time-wrapper"><span class="time">Mar 2020</span></span>
              </div>
              <div class="desc">tsmc 小小螺絲釘</div>
            </div>
          </li>
        
          <!-- Item 2 -->
          <li>
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="time-wrapper"><span class="time">Feb 2012</span></span>
              </div>
              <div class="desc">UMC 資深螺絲釘</div>
            </div>
          </li>
        
          <!-- Item 3 -->
          <li>
            <div class="direction-r">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="time-wrapper"><span class="time">July 2011</span></span>
              </div>
              <div class="desc">CHIME 新鮮人</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


{{ end }}